.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

body {
    background-color: #593C39;
    text-align: left;
}

h1 {
    color: floralwhite;
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
    margin-top: 20px;
}

.map-wrapper {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    border: 2px solid white;
    border-radius: 8px;
}

.map-data-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.9);
    padding: 12px;
    border-radius: 8px;
    width: 260px;
    font-family: 'Open Sans', sans-serif;
}

.map-search-container {
    margin-bottom: 10px;
}

.geocoder {
    margin: 8px 0;
}

.option-label {
    font: 15px/20px 'Open Sans', sans-serif;
    font-weight: bold;
    width: 95%;
    padding-bottom: 8px;
}

.legend {
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
    bottom: 0;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px/20px 'Open Sans', sans-serif;
    padding: 10px;
    right: 10px;
    z-index: 1;
}

.legend h4 {
    font: 'Open Sans', sans-serif;
    margin: 0 0 10px;
}

.legend-colcircle {
    display: inline-block;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    background-color: var(--legendcolour);
}